
.idea/encodings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/vcs.xml

.idea/modules.xml

.idea/modules.xml

.idea/sandwichable.iml

.idea/scopes/scope_settings.xml

.idea/scopes/scope_settings.xml

.idea/workspace.xml

*.pyc

sanwichable.io/.idea/sanwichable.io.iml

sanwichable.io/.idea/sanwichable.io.iml

sanwichable.io/.idea/scopes/scope_settings.xml

sanwichable.io/.idea/workspace.xml

sanwichable.io/.idea/workspace.xml
